{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules":
    {
        "react/jsx-filename-extension": "off",
        "jsx-a11y/href-no-hash": "off",
        "class-methods-use-this": "off",
        "jsx-a11y/anchor-is-valid": ["warn",
        {
            "aspects": ["invalidHref"]
        }]
    }
}
