{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "root": true,
    "plugins": [
        "import"
    ],
    "globals": {
        "__DEV__": true
    },
    "rules": {
        "strict": 0,
        "react/jsx-filename-extension": "off",
        "comma-dangle": ["error", "never"],
        "no-plusplus": ["error", {
            "allowForLoopAfterthoughts": true
        }],
        "import/no-extraneous-dependencies": "off",
        "no-script-url": "off",
        "global-require": "off",
        "max-len": ["warn", {
            "code": 200,
            "ignoreUrls": true,
            "ignoreTemplateLiterals": true
        }],
        "import/no-named-as-default": "off",
        "brace-style": ["warn", "stroustrup"],
        "arrow-parens": ["off"],
        "no-unused-expressions": "off",
        "no-shadow": "off",
        "prefer-destructuring": "off",
        "linebreak-style": "off"
    }
}
